.login-page {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

